.resume-main-page {
  background-color: #1b0514;
  padding: 40px;
}
.resume-main-content {
  background-color: rgba(235, 141, 204, 0.05);
  padding: 40px;
  border-radius: 40px;
}
.resume-page {
  display: flex;
  justify-content: space-evenly;
}
.resume-page img {
  width: 28%;
}
.resume-download-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
