.contact-page {
  font-family: "Inter", sans-serif;
  padding: 40px;
  background-color: #1b0514;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
}
