.header-grid {
  background-color: #280d20;
  color: white;
  padding: 20px;
}

.header-logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "poppins", sans-serif;
  color: #ff6bd2;
  cursor: pointer;
  transition: all 0.8s ease;
  text-align: start;
  margin: 0px;
}

.logo-text {
  display: inline-block;
  transition: all 0.8s ease;
  margin: 0px;
}

.logo-text.expanded {
  color: #ff6bd2;
  letter-spacing: 1px;
}

.header-nav {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
}

.nav-item {
  color: #ffffffcc;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #ffb5e6;
  font-size: 24px;
  transition: all 0.2s ease;
}

.nav-link {
  text-decoration: none;
  color: #b5b5b5; /* default color */
  font-size: 20px;
  padding-bottom: 22px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #ffffff;
}

/* Active (selected) item */
.nav-link.active {
  color: #ffffff; /* selected color */
  border-bottom: 3px solid #ffffff;
}
