.footer-container {
  background: linear-gradient(135deg, #27081d 25%, #5e1847 50%, #1f0918 75%);
  padding: 60px 0px 60px 40px;
}
.footer-heading {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  margin: 0px;
}
.footer-desc {
  font-family: "Inter", sans-serif;
  color: #e2e2e2;
  margin-bottom: 0px;
}
.footer-links-section {
  display: flex;
  align-items: center;
}
.hr-line-container {
  width: 50%;
}
.hr-line {
  border: 0.5px solid #e2e2e2;
}
.footer-links-container {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 0.5px solid #e2e2e2;
  width: 50%;
  padding: 40px 20px;
  color: #e2e2e2;
  background-color: rgba(54, 11, 40, 0.5);
}
.links-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.link {
  display: inline-block; /* Important for smooth scaling */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.2); /* Smooth scaling */
  color: #ffffff;
}
.disabled-link {
  cursor: not-allowed;
  color: #888888;
}
.footer-bottom-section {
  display: flex;
  flex-direction: column;
}
.footer-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
}
.footer-info-container {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: #e2e2e2;
}
.footer-copywright {
  margin-right: 40px;
}
@media (max-width: 990px) {
  .hr-line-container {
    display: none;
  }
  .footer-links-container {
    width: 100%;
    margin: 20px 0px;
  }
  .footer-container {
    padding: 60px 40px 60px 40px;
  }
  .footer-heading {
    display: flex;
    justify-content: center;
  }
  .footer-desc {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer-container {
    padding: 60px 40px 60px 40px;
  }
  .footer-heading {
    display: flex;
    justify-content: center;
  }
  .footer-desc {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer-info-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-icons-container {
    justify-content: center;
  }
  .footer-copywright {
    margin-right: 0px;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .footer-container {
    padding: 40px 20px;
  }
  .footer-links-container {
    font-size: 16px;
    padding: 30px 10px;
  }
}
@media (max-width: 760px) {
  .footer-icon {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 360px) and (max-width: 440px) {
  .footer-heading {
    font-size: 24px;
  }
}
