.kharidh-page {
  background-color: #1b0514;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.title-1-img {
  width: 100%;
}
.personal-motivation-section {
  display: flex;
  padding: 60px;
  justify-content: center;
}
.pm-img {
  width: 100%;
}
