.main-content {
  background-color: #1b0514;
  padding: 40px;
}

.divider {
  margin-top: 60px;
  border: 0.5px solid #6e6e6e;
}
@media (max-width: 760px) {
  .main-content {
    padding: 20px 20px 0px 20px;
  }
}
